DATABASE_URL=postgresql://postgres:postgres@db:5432/cloudbox

SECRET_KEY=your_secret_key

ALGORITHM=HS256

AWS_ACCESS_KEY_ID=your_access_key

AWS_SECRET_ACCESS_KEY=your_secret

AWS_REGION=ap-south-1

AWS_BUCKET_NAME=your_bucket_name